<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

    <Properties>
        <Property name="SIXLOG">${env:SIXLOG}</Property>
        <Property name="DATE_FORMAT">yyyyMMdd-HH</Property>
        <Property name="LOG_PATTERN">03 %.-1p %d{EEE MMM dd HH:mm:ss.SSS yyyy}        NovaLog-Test-BO 03.01.00 %10.10pid %22.22T NODOID000001 00000000000000000000000000000000 %80.80c{10} %20.20M %5.5L %m%n
        </Property>
        
        <Property name="LOG_PATTERN_AUDIT">03 %.-1p %d{EEE MMM dd HH:mm:ss.SSS yyyy}        NovaLog-Test-BO 03.01.00 %10.10pid %22.22T NODOID000001 00000000000000000000000000000000 %80.80c{10} %20.20M %5.5L %m%n
        </Property>
        <!--        <Property name="LOG_PATTERN_AUDIT">03 %.-1p %d{EEE MMM dd HH:mm:ss.SSS yyyy}        NovaLog-Test-BO 03.01.00 %10.10pid %22.22T NODOID000001   00000000000000000000000000000000 %80.80c{10} %20.20M %5.5L %-30.30X{codEmpresa} %-30.30X{codApp} %-20.20X{username} %-30.30X{userrol} %-40.40X{ipServidor} %-40.40X{ipTerminal} %-2.2X{idEvento} %-1.1X{idEstado} %-100.100M %-30.30X{tabla} %-100.100X{origen} %-40.40X{sesion} %-100.100m %-1000.1000X{dataVariable} %-100.100X{contexto} %-32.32X{mac}%n
        </Property>-->

        <Property name="APP_CODE">MASIVAS-Back</Property>
        <Property name="LOG_FOLDER">MASIVAS\MASIVAS-Back</Property>

        <Property name="SECURITY_CLASS">com.novatronic.tarifario.core.log.LogSeg</Property>
        <Property name="PERFORMANCE_CLASS">com.novatronic.testlog.interceptor.PerformanceInterceptor</Property>

        <Property name="MAX_SIZE">300 MB</Property>
        <Property name="MAX_TIME_ROLL">24</Property>
        <Property name="MAX_TIME_DELETE">P60D</Property>
    </Properties>

    <CustomLevels>
        <CustomLevel name="AUDIT" intLevel="110" />
    </CustomLevels>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <RollingFile name="RollingFileEvento"
                     fileName="${SIXLOG}/${LOG_FOLDER}/${APP_CODE}-total.log"
                     filePattern="${SIXLOG}/${LOG_FOLDER}/${APP_CODE}-total-%d{${DATE_FORMAT}}-%i.log.gz">
            <PatternLayout pattern="E ${LOG_PATTERN}" />
            <Filters>
                <ThresholdFilter level="ERROR" onMatch="DENY" onMismatch="ACCEPT" />
                <LevelRangeFilter minLevel="ERROR" maxLevel="WARN" onMatch="DENY" onMismatch="NEUTRAL" />
            </Filters>
            <Policies>
                <TimeBasedTriggeringPolicy interval="${MAX_TIME_ROLL}"
                                           modulate="true" />
                <SizeBasedTriggeringPolicy size="${MAX_SIZE}" />
            </Policies>
            <DefaultRolloverStrategy>
                <Delete basePath="${SIXLOG}/${LOG_FOLDER}/" maxDepth="1">
                    <IfLastModified age="${MAX_TIME_DELETE}" />
                    <IfFileName glob="*.log.gz" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
        <RollingFile name="RollingFileError"
                     fileName="${SIXLOG}/${LOG_FOLDER}/${APP_CODE}-total.log"
                     filePattern="${SIXLOG}/${LOG_FOLDER}/${APP_CODE}-total-%d{${DATE_FORMAT}}-%i.log.gz">
            <PatternLayout pattern="B ${LOG_PATTERN}" />
            <Filters>
                <ThresholdFilter level="audit" onMatch="DENY"
                                 onMismatch="ACCEPT" />
                <ThresholdFilter level="ERROR" onMatch="ACCEPT"
                                 onMismatch="DENY" />
            </Filters>
            <Policies>
                <TimeBasedTriggeringPolicy interval="${MAX_TIME_ROLL}"
                                           modulate="true" />
                <SizeBasedTriggeringPolicy size="${MAX_SIZE}" />
            </Policies>
            <DefaultRolloverStrategy>
                <Delete basePath="${SIXLOG}/${LOG_FOLDER}/" maxDepth="1">
                    <IfLastModified age="${MAX_TIME_DELETE}" />
                    <IfFileName glob="*.log.gz" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
        <RollingFile name="RollingFileSeguridad"
                     fileName="${SIXLOG}/${LOG_FOLDER}/${APP_CODE}-total.log"
                     filePattern="${SIXLOG}/${LOG_FOLDER}/${APP_CODE}-total-%d{${DATE_FORMAT}}-%i.log.gz">
            <PatternLayout pattern="S ${LOG_PATTERN}" />
            <Policies>
                <TimeBasedTriggeringPolicy interval="${MAX_TIME_ROLL}"
                                           modulate="true" />
                <SizeBasedTriggeringPolicy size="${MAX_SIZE}" />
            </Policies>
            <DefaultRolloverStrategy>
                <Delete basePath="${SIXLOG}/${LOG_FOLDER}/" maxDepth="1">
                    <IfLastModified age="${MAX_TIME_DELETE}" />
                    <IfFileName glob="*.log.gz" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
        <RollingFile name="RollingFilePerformance"
                     fileName="${SIXLOG}/${LOG_FOLDER}/${APP_CODE}-total.log"
                     filePattern="${SIXLOG}/${LOG_FOLDER}/${APP_CODE}-total-%d{${DATE_FORMAT}}-%i.log.gz">
            <PatternLayout pattern="P ${LOG_PATTERN}" />
            <Policies>
                <TimeBasedTriggeringPolicy interval="${MAX_TIME_ROLL}"
                                           modulate="true" />
                <SizeBasedTriggeringPolicy size="${MAX_SIZE}" />
            </Policies>
            <DefaultRolloverStrategy>
                <Delete basePath="${SIXLOG}/${LOG_FOLDER}/" maxDepth="1">
                    <IfLastModified age="${MAX_TIME_DELETE}" />
                    <IfFileName glob="*.log.gz" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
        <RollingFile name="RollingFileAudit"
                     fileName="${SIXLOG}/${LOG_FOLDER}/${APP_CODE}-auditoria.log"
                     filePattern="${SIXLOG}/${LOG_FOLDER}/${APP_CODE}-auditoria-%d{${DATE_FORMAT}}-%i.log.gz">
            <PatternLayout pattern="A ${LOG_PATTERN_AUDIT}" />
            <Policies>
                <TimeBasedTriggeringPolicy interval="${MAX_TIME_ROLL}"
                                           modulate="true" />
                <SizeBasedTriggeringPolicy size="${MAX_SIZE}" />
            </Policies>
            <DefaultRolloverStrategy>
                <Delete basePath="${SIXLOG}/${LOG_FOLDER}/" maxDepth="1">
                    <IfLastModified age="${MAX_TIME_DELETE}" />
                    <IfFileName glob="*.log.gz" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
    </Appenders>

    <Loggers>
        <!--        <Root level="info">
        </Root>-->
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>

        <!--        <Logger name="com.novatronic" level="debug">
            <AppenderRef ref="Console" level="error" />
            <AppenderRef ref="Console" level="debug" />
            <AppenderRef ref="Console" level="audit" />
        </Logger>-->
        
        <Logger name="com.novatronic" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger level="info"
                name="${SECURITY_CLASS}" additivity="false">
            <AppenderRef ref="RollingFileSeguridad" />
        </Logger>
        <Logger level="info"
                name="${PERFORMANCE_CLASS}"
                additivity="false">
            <AppenderRef ref="RollingFilePerformance" />
        </Logger>
    </Loggers>
</Configuration>